.displayCard {
    height: 180px;
    width: 180px;
    padding-top: 0;


    background-color: darkgrey;
    border: 3px inset black;
    border-radius: 0.5rem;

    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    font-style: oblique;
}

.genres {
    display: flex;
    min-width: 100%;
    font-size: x-small;
    font-weight: lighter;
    
}
.genres ul {
    list-style: none;
    display: inline;
}

.likes {
    display: flex;
    margin-left: 70%;
    align-items: center;
}
.likes h6 {
    margin: 0;
}
